// import other files
@import './vars';
@import './mixins';

// import fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// other styles
* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: var(--bodyColor);
  color: var(--mainColor);
}

.container {
  max-width: 59.75rem;
  margin: 0 auto;
}
